<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stored Result</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    @font-face {
      font-family: "FontAwesome";
      font-weight: normal;
      font-display: auto;
      font-style: normal;
      src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      max-width: 100vw;
    }

    #canvas {
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body>

  <div id="canvas"></div>
  <script src="https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js"></script>
  <script src="https://www.unpkg.com/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
  <script src="/configurableTheme.js"></script>
  <script src="/renderConfig.js"></script>

  <script>
    (async () => {
      const id = window.location.href.split('/').pop();

      const headers = { "Content-Type": "application/json" };

      await fetch("/api/register-paths", {
        headers,
        method: 'POST',
        body: JSON.stringify({ id })
      });

      const { def } = await fetch(`/api/defs/${id}`, {
        headers,
        method: 'get',
      }).then(r => r.json())

      mermaid.mermaidAPI.initialize(renderConfig);

      const embedSvg = function (svgCode, bindFunctions) {
        document.getElementById("canvas").innerHTML = svgCode;
      };

      mermaid.mermaidAPI.render("mermaid", def, embedSvg);

      const canvas = document.getElementById('canvas');

      domtoimage.toPng(canvas)
        .then(function (dataUrl) {
          console.log('here');
          var img = new Image();
          img.src = dataUrl;
          document.body.appendChild(img);
        })
        .catch(function (error) {
          console.error('oops, something went wrong!', error);
        });

    })();
  </script>

</body>

</html>